@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
@font-face {
    font-family: coolvetica;
    src: url(/static/media/coolvetica\ rg.42f59941.ttf)
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.MuiInputBase-input {
    height: .5em !important
}

@media (max-width:768px) {
    .backgroundImage {
        background-image: none
    }
    .signInUpContainer {
        width: 100%;
        padding: 20px
    }
}

.MuiPickersDay-daySelected,
.MuiPickersToolbar-toolbar {
    background-color: #0e8012 !important
}

.MuiButton-textPrimary {
    color: #0e8012 !important
}

.ant-pagination-item-active {
    background-color: #0e8012 !important;
    border-color: #0e8012 !important
}

.ant-pagination-item-active a,
.ant-pagination-item-active a:focus,
.ant-pagination-item-active a:hover,
.ant-pagination-item-active a:not([href]):not([class]):hover {
    color: #fff im !important
}

.anticon-left,
.anticon-right {
    vertical-align: .2rem !important
}

.ant-drawer-footer {
    border-top: transparent !important;
    padding: 25px 16px !important
}

.ant-radio-button-wrapper {
    padding: 0 25px !important;
    border: transparent !important
}

.ant-radio-button-wrapper-disabled,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: transparent !important
}

.ant-radio-button-wrapper-disabled {
    box-shadow: none !important
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none !important
}

.ant-radio-button-wrapper:not(:first-child):before {
    background-color: transparent !important
}

.userDeviceList {
    float: left;
    width: 40%;
    margin-left: 45px
}

.userDeviceList .ant-radio-wrapper {
    width: 250px;
    padding: 5px 15px;
    border-radius: 5px
}

.userDeviceList .ant-radio-wrapper-checked {
    background: #efefef
}

.ant-radio-checked .ant-radio-inner {
    border-color: #0e8012 !important
}

.ant-radio-checked:after {
    border: 1px solid #0e8012 !important
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0e8012 !important;
    border: 1px solid #0e8012 !important
}

.ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
    border-color: #0e8012 !important
}

.ant-checkbox-wrapper {
    padding: 0 0 15px !important
}

.ant-modal-confirm-btns .ant-btn-primary {
    border-color: #0e8012 !important;
    background-color: #0e8012 !important;
    border-radius: 5px;
    width: 60px
}

.MuiCardContent-root {
    padding: 10px !important
}

.chartMenu .ant-dropdown-trigger {
    border: transparent !important;
    box-shadow: none !important
}

.ant-btn,
.ant-btn-dangerous {
    border-radius: 5px !important
}

.ant-btn-dangerous {
    color: #fff !important;
    border-color: #0e8012 !important;
    background-color: #0e8012 !important
}

.reportSwitchBtn .ant-switch {
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 5px
}

.ant-picker-range .ant-picker-active-bar,
.ant-radio-inner:after,
.ant-switch-checked {
    background-color: #0e8012 !important
}

.ant-picker {
    border-radius: 5px !important
}

.ant-picker-focused,
.ant-picker-input>input-focused,
.ant-picker-input>input:focus,
.ant-picker:hover {
    border-color: #0e8012 !important
}

.ant-picker-range-separator {
    margin-bottom: 10px !important;
    padding: 0 15px !important
}

.ant-switch-checked {
    margin-top: 6px !important;
    margin-right: 10px !important
}

.draggedItem {
    opacity: .3
}

.reportListTable .ant-alert-info {
    background-color: #b6d8b7 !important;
    border: 1px solid #0e8012 !important
}

.reportListTable .ant-alert-info .ant-alert-icon {
    color: #0e8012 !important
}

.ant-modal-footer .ant-btn-primary,
.ant-modal-footer .ant-btn-primary:hover {
    background-color: #0e8012;
    border: 1px solid #0e8012;
    border-radius: 20px
}

@media only screen and (max-width:480px) {
    .ant-radio-button-wrapper {
        height: 115px !important;
        padding: 0 38px !important
    }
    .deviceParamAccordianContainer {
        width: 100%;
        padding: 5px;
        margin: 0 6% !important
    }
    .userDeviceList {
        width: 30%;
        margin-left: 30px
    }
    .userDeviceList .ant-radio-wrapper {
        width: 135px
    }
    .chartNameCalChart {
        width: 200px !important
    }
    .selectedParameterContainer {
        margin-top: 30px
    }
    .selectedParameterName {
        min-width: 215px !important
    }
    .isomorphicContent {
        padding: 50px 0 0 !important
    }
}

/*# sourceMappingURL=main.3c7aa117.chunk.css.map */